body {
  background-color: #4e94ab;
  text-align: center;
  align-content: center;
  color: lightskyblue;
}
header {
  width: 100%;
  background-color: lightskyblue;
  border-radius: 15px;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.menu li {
  border-right: 1px solid white;
}
.menu li a {
  display: block;
  padding: 15px 20px;
}

#boton-menu {
  display: none;
}

header label {
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-right: 1px solid #ffffff;
}

header label:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}
.menu li :hover {
  background: rgba(0, 0, 0, 0.3);
}
h1 {
  text-align: center;
  background-color: lavenderblush;
  padding: 0
  margin: 20px 50px;
  border-radius: 10px;
  color: royalblue;
  /* width: 50%; */
}

.comida {
  
  align-content: center;
  padding-top: 10px;
  background-color: lavenderblush;
  border-radius: 15px;
  position: relative;
  
  width: 500px;
  color: royalblue;
}
.imc {
  text-align: center;
}
#prompt {
  position: relative;
  left: 580px;
  align-content: center;
  text-align: center;
  background-color: black;
  color: blanchedalmond;
  border-left: brown;
  margin: 0, 0, 0, 200px;
  width: 150px;
}

.boton {
  width: 80;
  height: 20;
  color: azure;
  background-color: darkred;
  border-radius: 10px;
}

@media (max-width: 768px) {
  header label {
    display: block;
  }
  .menu {
    position: absolute;
    background-color: lavenderblush;
    width: 70%;
    margin-left: -70%;
  }
  .menu ul {
    flex-direction: column;
  }
  .menu li {
    border-top: 1px solid white;
  }
  #boton-menu:checked ~ .menu {
    margin: 0;
  }
}
